<h1>Editing status_update</h1>

<% form_for(@status_update) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :rubyist_id %><br />
    <%= f.text_field :rubyist_id %>
  </p>
  <p>
    <%= f.label :twitter_id %><br />
    <%= f.text_field :twitter_id %>
  </p>
  <p>
    <%= f.label :original_text %><br />
    <%= f.text_area :original_text %>
  </p>
  <p>
    <%= f.label :translated_text %><br />
    <%= f.text_area :translated_text %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @status_update %> |
<%= link_to 'Back', status_updates_path %>