<p>
  <b>Rubyist:</b>
  <%=h @status_update.rubyist_id %>
</p>

<p>
  <b>Twitter:</b>
  <%=h @status_update.twitter_id %>
</p>

<p>
  <b>Original text:</b>
  <%=h @status_update.original_text %>
</p>

<p>
  <b>Translated text:</b>
  <%=h @status_update.translated_text %>
</p>


<%= link_to 'Edit', edit_status_update_path(@status_update) %> |
<%= link_to 'Back', status_updates_path %>