<h1>Editing rubyist</h1>

<% form_for(@rubyist) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :twitter_name %><br />
    <%= f.text_field :twitter_name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @rubyist %> |
<%= link_to 'Back', rubyists_path %>