<h1>Listing rubyists</h1>

<table>
  <tr>
    <th>Twitter name</th>
  </tr>

<% @rubyists.each do |rubyist| %>
  <tr>
    <td><%=h rubyist.twitter_name %></td>
    <td><%= link_to 'Show', rubyist %></td>
    <td><%= link_to 'Edit', edit_rubyist_path(rubyist) %></td>
    <td><%= link_to 'Destroy', rubyist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rubyist', new_rubyist_path %>